ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    padding: 6px;
}

#barra1, #barra2 {
    padding: 10px;
}

#der {
    position: absolute;
    right: 20px;
}

#centro {
    position: relative;
    top: 180px;
    text-align: center;
}

#searchform {
    padding: 20px;
}

#botones {
    margin-bottom: 20px;
}

.button {
    display: inline;
    padding: 5px;
}

header ul {
    position: absolute;
    top:20px;
    right: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}