
.button2 {
    background-color: rgb(242, 242, 242);
    border-radius: 0%;
    text-align: center;
    border-style: none;
    font-size: 14px;
    color:rgb(95,99,104);
    padding: 10px;
}

#sesion {
    font-weight: bold;
    color:white;
    padding: 8px 10px;
    background-color: rgb(67, 135, 253);
    border-radius: 2px;
    
}

#searchform {
    border-style: solid;
    border-radius: 25px;
    height: 4px;
    margin: 15px;
    font-size: 15px;
    border-color:rgb(232, 232, 232);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    padding: 6px;
    font-family: arial, sans-serif;
    font-size: 13px;
}

header li {
    color: rgba(0, 0, 0, 0.87);
}

#barra1, #barra2 {
    background-color: rgb(242, 242, 242);
    border-top-width: 1px;
    border-color: rgb(228, 228, 228);
    border-style: solid;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover:not(#sesion) {
    text-decoration: underline;
}

#barra1 li {
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
}

#barra2 li {
    color:rgb(95, 99, 104);
}

#barra1, #barra2 {
    padding: 10px;
}

#der {
    position: absolute;
    right: 20px;
}

#centro {
    position: relative;
    top: 180px;
    text-align: center;
}

#searchform {
    padding: 20px;
}

#botones {
    margin-bottom: 20px;
}

.button {
    display: inline;
    padding: 5px;
}

header ul {
    position: absolute;
    top:20px;
    right: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}